/* Navbar custom color */
.custom-navbar {
  background-color: #405742; /* dark blue */
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #000000 !important;
}

.custom-navbar .nav-link:hover {
  color: #A6DAA4 !important;
}

.hero-section-row{
  background-color: #2F4131;
  color:#C4E89D ;
  padding: 20px;
}
.profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.btn{
  background-color: #A6DAA4;
  color: #202C22;
}